
###> symfony/framework-bundle ###
/.env.local
/composer.lock
/composer.json
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
